body{
  color:beige;
  background-color:grey;
  font-family: fantasy;
  padding: 20px 50px;
  text-align: center;
}
body, html{
  scroll-behavior: smooth;
}
h1, h2, h3, .main-nav a{
  color: aqua;
  text-transform: uppercase;
}
h1{
  border-bottom: 1px aqua solid;
  padding-bottom: 10px;
}
section{
  padding: 10px 20px;
  margin-bottom: 15px;
  border: 2px solid beige;
  border-radius: 4px;
}
ul{
  list-style: none;
  margin: 50px 20px;
}
.main-nav li{
  display: inline-block;
}
.main-nav a, .top{
  text-decoration: none;
  padding: 10px;
  border: 1px aqua solid;
  border-radius: 5px;
}
.main-nav .active a{
  font-weight: bold;
  color:grey;
  background-color: aqua;
}
.main-nav+li{
  margin-left: 5px;
}
footer .top{
  border: 2px dotted beige;
}

.as-table main{
  width: 1200px;
  margin: 20px auto;
  color: cadetblue;
}
.col-2-3{
  width: 800px;
}
.col-1-3{
  width: 400px;
}
.as-table .row{
  background-color: azure;
  outline: 1px cadetblue solid;
  padding: 10px 0;
}
.as-table .row>div{
  outline: 1px blueviolet solid;
  display: table-cell;
}
.as-table .row>div div{
  outline: 1px red solid;
}