#main{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 300px;
    border: 2px solid violet;
    padding: 20px;
}
#main input, #main select,
#main label, #main button{
    margin-bottom: 10px;
}
textarea{
    max-width: 280px;
    max-height: 100px;
}
.button{
    background-color: violet;
    color: white;
    width: 150px;
    border-radius: 30px;
    margin-top: 10px;
}
#todo-list{
    padding: 30px;
}
.item{
    display: flex;
    border: 2px solid violet;
    padding: 10px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.low{
    background-color: lightskyblue;
}
.normal{
    background-color: lightgreen;
}
.hight{
    background-color: lightpink;
}
.done h2, .done p{
    text-decoration: line-through gray;
    color: gray;
}
.low.done{
    background-color: rgb(202, 230, 248);
}
.normal.done{
    background-color: rgb(207, 245, 207);
}
.hight.done{
    background-color: rgb(252, 224, 228);
}