html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
  color:beige;
  background-color:grey;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}
main{
  overflow: hidden;
  padding: 20px 50px;
}
body, html{
  scroll-behavior: smooth;
}
h1, h2, h3, .main-nav a{
  text-transform: uppercase;
}
main p{
  font-size: 16px;
  padding: 5px 0;
}

h1{
  border-bottom: 1px beige solid;
  padding-bottom: 10px;
  font-size: 36px;
  overflow: hidden; /* Hide the line outside of it */
  white-space: nowrap; /* Disable word wraps */
  animation: title 15s linear infinite;
}
h1:hover{
  animation-play-state: paused;
}
@keyframes title {
  from { text-indent: 100%; }
  to { text-indent: -100%; }
 }
h2{
  font-size: 24px;
  padding: 20px 0;
}
h3{
  font-size: 20px;
  padding: 20px 0;
  text-decoration: underline;
}
section{
  padding: 10px 20px;
  margin-bottom: 15px;
  border: 2px solid beige;
  border-radius: 4px;
  z-index: 5;
}
.top{
  border-radius: 5px;
  padding: 10px;
  border: 1px black solid;
  text-decoration: none;
}
.main-nav{
  list-style: none;
  padding: 50px 20px;
  font-size: 0;
  z-index:10;
  position: relative;
}
.main-nav li{
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}
.main-nav li+li{
  padding-left: 10px;
}

.main-nav+li{
  margin-left: 5px;
}

.main-nav a{
  display: block;
  position: relative;
  font-size: 18px;
  text-decoration: none;
  color: black;
  border-radius: 0;
  white-space: nowrap;
  border: 1px black solid;
  background-color: grey;
  padding: 20px 5px 10px 5px;
} 

.main-nav .home>a,
.main-nav .pero>a,
.main-nav .right .sprite>a,
.main-nav #arrow-left>a{
  padding-left: 55px;
}

.main-nav #arrow-right>a,
.main-nav .arrow-down>a,
ul #arrow-left .left .sprite>a{
  padding-right: 55px;
}

.sprite>a:before{
  content: "";
  display: inline-block;
  width: 50px; height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/css_sprites.png') -150px -80px; /* arrow down */
}

#arrow-right>a::before,
#arrow-left .left .sprite>a::before,
.has-drop.sprite.arrow-down>a::before{
  left: auto;
  right: 0;
}

.sprite.home>a::before{
  background: url('../images/css_sprites.png') -150px -10px;
}
.has-drop.sprite.pero>a::before{
  background: url('../images/css_sprites.png') -220px -10px;
}

#arrow-right:hover>a::before, #arrow-left>a::before,
#arrow-left .left .sprite>a::before,
.main-nav .right .sprite:hover>a::before{
  background-position: -10px -150px; /* arrow left*/ 
}

.has-drop.arrow-down.sprite:hover>a::before{
  background-position: -80px -150px; /* arrow top */
}

#arrow-right>a::before, #arrow-left:hover>a::before,
#arrow-left .left .sprite:hover>a::before,
.main-nav .right .sprite>a::before{
  background-position: -150px -150px; /* arrow right */
}


.main-nav .active>a,
.main-nav a:hover{
  color:grey;
  background-color: aqua;
}

li .sub-nav{
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 25px;
}
li .sub-nav li+li a,
li .sub-nav li ul li+li a{
  border-top: 0;
}
li .sub-nav li ul a{
  border-top: 1px black solid;
}
.main-nav li ul{
  display: flex;
  text-align: left;
  flex-direction: column;
  border-radius: 5px;
}
.main-nav .pero>.sub-nav{
  display: block;
  overflow: hidden;
  height: 0;
  transition: all 1.25s cubic-bezier(0.88, -0.21, 0.21, 1.28);
  transition-delay: 0.25s;
}
.main-nav .pero:hover>.sub-nav{
  height: 320px;
}

.main-nav .arrow-down>.sub-nav{
  top: -10000px;
  pointer-events: none;
  transition: all 1.5s cubic-bezier(0.88, -0.21, 0.21, 1.28);
}

.main-nav .arrow-down:hover>.sub-nav{
  top: 100%;
  pointer-events: auto;
}

.main-nav .has-drop:hover .sub-nav,
.main-nav li ul .has-drop:hover ul{
  display: block;
}
.main-nav li .sub-nav li{
  padding-left: 10px;
  transition: all 0.5s linear;
  display: block;
}
.main-nav li .sub-nav li:hover{
  padding-left: 5px;
}
.main-nav li .sub-nav+li{
  border: none;
  border-top: 1px white solid;
}
.main-nav .sub-nav .right li,
.main-nav .sub-nav .left{
  position: relative;
}
.main-nav .sub-nav .right{
  position: absolute;
  top: 0;
  left: 9999px;
  padding-left: 10px;
  transition: all 1.5s linear;
}

.main-nav #arrow-right:hover>.right{
  left: 100%;
}

.main-nav .sub-nav .left{
  position: absolute;
  bottom: 0;
  right: 9999px;
  padding-right: 10px;
  transition: all 1.5s ease;
}
.main-nav #arrow-left:hover>.left{
  right: 100%;
}


footer{
  padding: 50px 0;
  background-color: black;
}

footer .top{
  border: 2px dotted beige;
  margin: 20px 0;
  display: inline-block;
  color: antiquewhite;
}

footer .top:hover{
  border-color: aqua;
  color: aqua;
}

.container{
  width: 1200px;
  margin: 20px auto;
  color: azure;
}
.row{
  background-color:cadetblue;
}
.as-table .row>div{
  display: table-cell;
  outline: 1px azure solid;
}
.col-2-3{
  width: 800px;
  background-color:coral;
}
.col-1-3{
  width: 400px;
}
.item{
  outline: 1px azure solid;
  padding: 10px 0;
}

.first div,
.fourth.row .col-1-3 .item{
  background-color:brown;
}
.second .col-1-3, 
.third .col-1-3,
.fourth .row div{
  background-color:darkgreen;
}
.third div,
.row .row .col-1-3 .item{
  background-color:darkmagenta;
}
.fourth div, .fourth .row .col-1-3{
  background-color:cornflowerblue;
}
.as-inline .container .row{
  font-size: 0;
  outline: 1px azure solid;
}

.as-inline .container div{
  display: inline-block;
  font-size: 16px;
}
.as-float .float_l{
  float: left;
}
.as-float .float_r{
  float: right;
}
.as-float .clearfix{
  clear: both;
}
.as-float .row::after{
  content: "";
  clear: both;
  display: block;
}
.as-flex .row{
  display: flex;
}
.as-flex .col-1-3{
  flex: 0 1 400px;
}
.as-flex .col-2-3{
  flex: 0 1 800px;
}
.as-grid>div{
  display: grid;
}
.as-grid .first{
  grid-template-columns: repeat(3, 1fr);
}
.as-grid .second{
  grid-template-columns: 2fr 1fr;
}
.as-grid .third{
  grid-template-columns: 1fr 2fr;
}
.as-grid .third .row,
.as-grid .fourth .row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.as-grid .fourth{
  grid-template-columns: 1fr 2fr;
}

.as-grid-area{
  display: grid;
  grid-template-areas: 
  "a a1 a2"
  "p p c"
  "p p c"
  "e e c"
  "e e f"
  "d d f"
  "d d f"
  "i h h"
  "i l j"
  "m m n"
  "o b n"
  "k b n";
}
.as-grid-area .a{
  grid-area: a;
  background-color:brown;
}
.as-grid-area .a1{
  grid-area: a1;
  background-color:fuchsia;
}
.as-grid-area .a2{
  grid-area: a2;
  background-color:sienna;
}
.as-grid-area .b{
  grid-area: b;
  background-color:coral;
}
.as-grid-area .c{
  grid-area: c;
  background-color:green;
}
.as-grid-area .d{
  grid-area: d;
  background-color:aqua;
}
.as-grid-area .e{
  grid-area: e;
  background-color: violet;
}
.as-grid-area .f{
  grid-area: f;
  background-color: navy;
}
.as-grid-area .m{
  grid-area: m;
  background-color: darkcyan;
}
.as-grid-area .n{
  grid-area: n;
  background-color: darkolivegreen;
}
.as-grid-area .l{
  grid-area: l;
  background-color: violet;
}
.as-grid-area .j{
  grid-area: j;
  background-color: sandybrown;
}
.as-grid-area .p{
  grid-area: p;
  background-color: hotpink;
}
.as-grid-area .h{
  grid-area: h;
  background-color: mediumslateblue;
}
.as-grid-area .o{
  grid-area: o;
  background-color: yellowgreen;
}
.as-grid-area .k{
  grid-area: k;
  background-color: rebeccapurple;
}
.as-grid-area .i{
  grid-area: i;
  background-color: gold;
}
figcaption{
  font-size: 10px;
}
.float_l figure{
  padding: 0 15px 10px 0;
}
.page-gallery figure, .page-gallery .figure{
  position: relative;
  display: inline-block;
}
.page-gallery figcaption, .page-gallery .figcaption{
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -15px;
  background-color: white;
  padding: 5px 0;
  opacity: 0.5;
  width: 100%;
  z-index: 5;
}

.page-gallery a figcaption,
.page-gallery .figcaption{
  color: black;
  font-size: 20px;
}
.fixed-block{
  position: fixed;
  display:flex;
  align-items:center;
  top:0px;
  left:0px;
  width:20vw;
  height:100vh;
  z-index: 10;
}
.fixed-block .main-nav{
  background-color: black;
  opacity: 0.75;
  margin: 0;
}
.fixed-block .main-nav li{
  display: block;
}
.fixed-block .main-nav a{
  background-color: black;
  display: block;
  border: none;
  color: white;
  font-size: 12px;
}
.fixed-block .main-nav a:hover{
  color: black;
  background-color: grey;
}
.socials li{
  display: inline-block;
}
.socials ul a{
  display: inline-block;
  width: 50px; height: 50px;
  animation: icon 1.5s ease infinite;
}

.socials ul a::before{
  position: relative;
  
}
@keyframes icon {
  10% { transform: rotate(20deg); }   
  95% { transform: rotate(-20deg); }
 }

 .socials ul .facebook{
  animation: facebook 2s linear infinite;
 }
 @keyframes facebook {
  10% { transform: rotate(-30deg); }   
  95% { transform: rotate(40deg); }
 }
 .socials ul .linkedin{
  animation: linkedin 1s linear infinite;
 }
 @keyframes linkedin {
  10% { transform: rotate(20deg); }   
  95% { transform: rotate(-20deg); }
 }
 .socials ul .whatsapp{
  animation: whatsapp 1.5s ease-in infinite;
 }
 @keyframes whatsapp {
  10% { transform: rotate(50deg); }   
  95% { transform: rotate(-50deg); }
 }
.socials ul .facebook a::before{
  background-position: -10px -10px;
}

.socials ul .instagram a::before{
  background-position: -80px -10px;
}

.socials ul .linkedin a::before{
  background-position: -10px -80px;
}

.socials ul .whatsapp a::before{
  background-position: -80px -80px;
}

.socials ul li:hover a::before{
  opacity: 0.5;
}
.hover-me-block{
  position: fixed;
  right: 0;
  bottom: 50%;
  height: 200px;
  width: 50px;
  margin-bottom: -100px;
  background-color: rgb(138, 127, 114);
  border: 2px solid black;
  border-radius: 20px 0 0 20px;
  color: bisque;
  transition: width, background-color 1.5s linear;
  animation: pulse2 3s infinite;
}

.hover-me-block h2{
  position: absolute;
  bottom: 0;
  left: -40px;
  transform-origin: 39px 0;
  transform: rotate(-90deg); 
  padding: 15px 20px 5px 15px;
  text-transform: uppercase;
  font-size: 30px;
  white-space: nowrap;
}

.hover-me-block h2>span{
  animation: pulse 2s infinite linear;
  color: rgb(218, 211, 204);
}

@keyframes pulse {
  from {
    transform:scale(.9)
  }
  to {
    transform:scale(1.1)
  }
}
@keyframes pulse2 {
  0%{
    background-color: rgb(115, 148, 156);
  }
  100%{
    background-color: rgb(94, 109, 109);
  }
}
.hover-me-block:hover{
  background-color: rgb(125, 190, 190);
  width: 250px;
  animation: paused;
}
.hover-me-block:hover h2{
  animation: paused;
}
.romb-socials{
  width: 104px;
  transform: rotate(45deg);
  padding: 10px 0 80px 80px;
  display: none;
}
.hover-me-block:hover .romb-socials{
  display: block;
}
.romb-socials.socials li{
  outline: 1px solid rgb(209, 202, 202);
}
.romb-socials.socials li:first-child{
  margin: 0 0px 4px 0;
}
.romb-socials.socials ul li,
.romb-socials.socials ul a{
  animation: paused;
}
.romb-socials.socials ul li{
  animation: turner 2s infinite ease;
}
.romb-socials.socials ul li:hover{
  animation: paused;
}
@keyframes turner{
  from{  transform: skew(5deg,0deg)   }
  to  {  transform: skew(-5deg,0deg) }
}
.romb-socials.socials ul a::before{
  transform: rotate(-45deg);
}